@model Lakshmi.Models.Photo
<div style="text-align: center">
<h2>Вы действительно хотите <br />удалить эту фотографию</h2>


@using (Html.BeginForm("Delete", "Editor", FormMethod.Post, new
{ enctype = "multipart/form-data" }))
{
    <input style="width: 200px; font-size: 1.4em; height: 65px; text-align: center;" type="submit" value="удалить" />
}
</div>
